log_SMI_*.txt
.DS_Store
*.asv
deconv_comparison/data/
deconv_comparison/__pycache__/
octave-workspace
response_SMI_wm.txt
deconv_comparison/mrtrix/
deconv_comparison/export/
deconv_comparison/notebooks/*_out.ipynb
deconv_comparison/notebooks/.ipynb_checkpoints/
